# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache & Builds
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
dist/
build/
*.zip

# Environment configuration
.env
.env.*
! .env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# OS files
.DS_Store
Thumbs.db
